# Токен от @BotFather
BOT_TOKEN=8799244635:AAG5OvZubMH58zCTqPwOayqsnbxzZSxII18

# Строка подключения к PostgreSQL
DATABASE_URL=postgres://user:password@localhost:5432/cryptobot?sslmode=disable

# Ваш Telegram ID (получить можно у @userinfobot)
OWNER_ID=655931991
